# Laravel core
/vendor
/node_modules
.env
.env.*

# Storage (keep structure)
/public/storage
/storage/*.key
/storage/app/*
!/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Cache
/bootstrap/cache/*.php
/bootstrap/cache/packages.php
/bootstrap/cache/services.php

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp

# Build
dist/
build/

docs/data/
public/uploads/
